.outer {
    border-radius: 2%;
    box-shadow: 10px 10px 20px black;
    padding: 15px;
    margin: 15px;
    border: 15px;
    background-color: skyblue;
    width: 500px;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: wheat;
}
h1 {
    text-align: center;
}